body {
  font-family: 'Space Grotesk', sans-serif;
  background-color: #0e0e0e;
  color: #e5e5e5;
  margin: 0;
}

/* CONTENEDOR */
.container {
  max-width: 720px;
  margin: 0 auto;
  padding: 80px 20px;
}

/* TITULOS */
h1, h2, p{
  font-weight: 500;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  margin: 0;
}

h1 {
  font-size: clamp(3rem, 8vw, 5rem);
}

h2{
  margin-top: 20px;
}

p {
  margin-top: 30px;
  font-size: 1.7rem;
  font-weight: 300;
  letter-spacing: 0.06em;
}

/* LINKS */
.links {
  margin-top: 80px;
}

.links a {
  margin-right: 20px;
  text-decoration: none;
  color: #6fa8dc;
  font-weight: 400;
  letter-spacing: 0.05em;
}

.links a:hover {
  opacity: 0.8;
}